<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServicioLogin</servlet-name>
        <servlet-class>servicios.ServicioLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarSala</servlet-name>
        <servlet-class>servicios.AgregarSala</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerSalas</servlet-name>
        <servlet-class>servicios.VerSalas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPeli</servlet-name>
        <servlet-class>servicios.AgregarPeli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPelis</servlet-name>
        <servlet-class>servicios.VerPelis</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServicioLogin</servlet-name>
        <url-pattern>/ServicioLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarSala</servlet-name>
        <url-pattern>/AgregarSala</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerSalas</servlet-name>
        <url-pattern>/VerSalas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPeli</servlet-name>
        <url-pattern>/AgregarPeli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPelis</servlet-name>
        <url-pattern>/VerPelis</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
