/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/06/2021, 10:58:05 AM
    Author     : Esteban
*/

#pop-up {
    
    display: block;
    height: 700px;
    width: 640px;
    position: fixed;
    top: 32px;
    left: 50%;
    transform: translate(-45%, 5%);
}

#pop-up-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    width: 600px;
}

#page-mask {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    margin: 8px 0;
    border: red;
    cursor: pointer;
    width: 50%;
}


