/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/06/2021, 03:19:31 PM
    Author     : Esteban
*/

.tablero {
    margin: 4px 8px 16px 32px;
    
}

.tablero .btnTablero {
    background-color: transparent;
    border: blue;
    cursor: pointer;
    outline: none;
    height: 48px;
    width: 48px;
}

.tablero .btnTablero img {
    margin: 4px 8px 16px 32px;
    padding: 5px 8px;
}



